/* Englobe Card.js Deck.js CardList.js Choix.js*/
@font-face {
  font-family: "League of legend";
  src: url("../medias/Friz\ Quadrata\ Bold.otf") format("otf"),
}
/*Component Choix  */
#choix {

  background-image: url("../medias/background.png");
  background-attachment: fixed;

}
.ValideDeck {
  text-align: center;
}

/* component Card */
.card {

  width: 150px;
  height: 200px;
  background-color: #333;
  border-radius: 10px;
  outline: 1px solid rgba(255, 255, 255, .5);
  outline-offset: -8;
  box-shadow: 3px 9px 10px rgba(0, 0, 0, .1);
  position: relative;
  overflow: hidden;
  color: white;
  font-family: "league of legend";
}

.card-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .6;
  transition: transform .75%;
}


.card:hover .card-image {
  transform: scale(1.15);
}

.card-title {
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-size: 20px;
  text-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

/* Component Deck */

#deck {
  background-color: rgba(0, 0, 0, 0.28);
}

@media (max-width: 600px) {
  .card {

    width: 60px;
    height: 120px;
    
  }

  #contenucard{
    padding: 0;
    font-size: 10px;
  }
  .card-title{
    font-size: 15px;
  }

}

