body::after {
    content: "";
    background-image: url("../medias/backgroundinscription.jpg");
    opacity: 0.3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
