.logoLOS {
    float: right;
}

#btnhome {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px;
}

.BoutonHome {
    display: flex;
    flex-direction: column;
    float: right;
    align-items: center;
}

.links {
    margin-top: 130px;
}

.home {
    content: "";
    background-image: url("../medias/backgroundinscription.jpg");
    /* opacity: 0.3; */
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;

}
.titlephone {
    display:none;
}
@media (max-width: 600px) {
    .logoLOS {
        display: none;
    }
    .titlephone{
        display: block;
        margin-top: 50%
    }
    .links {
        display: inline-block;
    }
}