
body::after {
    content: "";
    background-image: url("../medias/backgroundHomeConnect.png");
    opacity: 0.3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

.centre{
    text-align: center;
    
  }