@font-face {
  font-family: "League of legend";
  src: url("../medias/Friz\ Quadrata\ Bold.otf") format("otf"),
}
.homeConnect {
    content: "";
    background-image: url("../medias/backgroundHomeConnect.png");
    opacity: 0.6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }


.centre{
    text-align: center;
    font-family: "league of legend"; 
  }

  #btnmatch{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgba(255, 255, 255, 0.5);
    height: 15%;
    width: 25%;
    font-size: 200%;
    font-weight: bold;
    border-radius: 15px;
  }
  #profil{
    text-align: center;
  }



@media screen and (max-width: 650px) {
  #btnmatch{
    font-size: 120%;
    position: none;
    top: 75%;
  }
  
  .profil, img {
    height: 200px;
    width: auto;
    
  }

  


}