/* Page matchmaking seulement */
@font-face {
    font-family: "League of legend";
    src: url("../medias/Friz\ Quadrata\ Bold.otf") format("otf");
}

.matchmaking {

    background-image: url("../medias/matchmaking.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.list1{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2em;
    border-radius: 15%;
    border: 1px solid black;
    margin: 4em;
    height: 60vh;
    color: white;
    font-family: "league of legend";

}

ul {
    padding-left: 2rem;
    list-style-type: none;
}

/* ul li {
    padding-left: 2rem;
    list-style-type: none;

} */